* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", Arial, sans-serif;
    background: #000; /* fundo neutro */
    color: #fff;
}

header {
    text-align: center;
    padding: 20px;
    background: rgba(0,0,0,0.4);
    border-bottom: 1px solid #d8c3a5;
    backdrop-filter: blur(4px);
}

header h1 {
    font-size: 1.8rem;
    color: #f0e0c9;
}

/* MENU */
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 15px;
}

nav button {
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    background: rgba(255,255,255,0.2);
    color: #fff;
    font-size: 0.9rem;
    transition: 0.3s;
    backdrop-filter: blur(4px);
}

nav button:hover {
    background: rgba(255,255,255,0.35);
}

nav button.active {
    background: #b08968;
}

/* CONTAINER */
main {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

/* SEÇÕES */
.pagina {
    display: none;
    position: relative;
    padding: 50px 25px;
    border-radius: 14px;
    min-height: 55vh;

    /* animação */
    opacity: 0;
    transition: opacity 0.6s ease;
}

/* quando aparece */
.pagina.ativa {
    display: block;
    opacity: 1;
    text-align: center;
}

/* estilo do texto */
.pagina h2 {
    margin-bottom: 15px;
    font-size: 1.8rem;
    color: #f0e0c9;
    text-shadow: 0 2px 6px rgba(0,0,0,0.8);
}

.pagina p {
    font-size: 1.1rem;
    text-shadow: 0 2px 6px rgba(0,0,0,0.8);
}

.pagina img {
    width: 100%;          /* mantém responsivo */
    height: auto;
    background-blend-mode: normal
}
.btn-dj {
    position: absolute;
    top: 34%;     
    left: 20.2%;    
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background: transparent;
    border: none;
    
}
.btn-fotos {
    position: absolute;
    top: 52%;     
    left: 57%;    
    width: 110px;
    height: 100px;
    border-radius: 100%;
    background: transparent;
    border: none;
}
.btn-local {
    position: absolute;
    top: 21%;     
    left: 24%;    
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background: transparent;
    border: none;
    
}
.btn-presenca {
    position: absolute;
    top: 21%;    
    left: 54%;       
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background: transparent;
    border: none;
}
.btn-envelope{
  position: absolute;
    top: 36%;    
    left: 17%;       
    width: 250px;
    height: 200px;  
    background: transparent;
    border: none;
    
}





